@import-normalize;
@import "./components/componentStyling/colourSchemes.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    158.87deg,
    rgba(123, 160, 253, 0.4) 34.88%,
    rgba(189, 138, 253, 0.4) 97.11%
  );
  margin: 0;
  overflow: hidden;
  font-family: "Poppins";
}
.base-layer {
  background: linear-gradient(110.63deg, #7ba0fd 14.7%, #bc8bfd 82.18%);
}
.log-out-button {
  position: absolute;
  right: 5px;
  top: 95vh;
  width: 100px;
  height: 23px;
  background: #ffffff;
  border-radius: 34px;
  z-index: 1000;
  color: #a393fd;
  border: none;
}
button {
  width: 100px;
  height: 23px;
  background: #ffffff;
  border-radius: 34px;
  color: #a393fd;
  border: none;
  margin: 5px;
}
#mood-chart {
  width: 40%;
}
.backdrop {
  background: linear-gradient(
    158.87deg,
    rgba(123, 160, 253, 0.4) 34.88%,
    rgba(189, 138, 253, 0.4) 97.11%
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.modal {
  background-color: #bfafff;
  color: white;
  border-radius: 12px;
  padding: 1%;
  z-index: 10;
}
.selection-images {
  width: 50%;
}
#expBar {
  height: "25px";
  border: "1px solid black";
  width: "100%";
}
.custom-tooltip {
  background-color: var(--paragraph);
  padding: 10px;
  text-align: left;
}
#mood-chart {
  width: 100%;
}
#image-display {
  height: 40vh;
  z-index: -10;
}
#navbar {
  width: 100%;
  color: black;
  background-color: white;
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.save-button {
  background: #f7f7f7;
  border-radius: 34px;
  padding: 10px 50px;
  color: #a393fd;
}
/* SIGN IN SCREEN */
#sign-in-title {
  position: absolute;
  width: 335px;
  height: 108px;
  top: 20%;
  text-align: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 108px;
  /* identical to box height */

  letter-spacing: 0.025em;

  color: #ffffff;
}
#sign-in-subtitle {
  position: absolute;
  height: 20px;
  top: 25%;
  text-align: left;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.025em;

  color: #ffffff;

  box-sizing: border-box;
}
#sign-in-image {
  width: 75%;
  height: 75vw;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
#sign-in-image img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10%;
}
.stand-button {
  width: 340px;
  height: 46px;
  background: #f7f7f7;
  border-radius: 34px;
  border: none;
  color: #a393fd;
}

/* Core Sections */
.core-section {
  background: #e7ecfd;
  border-radius: 34px 34px 0px 0px;
  width: 100%;
  height: 90vh;
  min-height: 40vh;
  text-align: center;
  margin: 10px auto;
  padding: 1%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: #496ecb;
}
.core-section::-webkit-scrollbar {
  display: none;
}
.section-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -2vh;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 93px;
  letter-spacing: 0.025em;
  color: #ffffff;
}

#add-button {
  min-width: 65px;
  min-height: 65px;
  color: linear-gradient(111.33deg, #819efd 16.19%, #bb8bfd 86.18%);
  margin: 10px;
}
#mood-input {
  width: 80%;
  margin: auto;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.mood-buttons {
  display: inline-block;
  text-align: center;
  width: 20%;
  height: auto;
  max-width: clamp(5%, 7%, 20%);
}
.mood-button-element {
  width: 17%;
  margin: auto;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
}
#mood-enter-card {
  margin-top: 25px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  background: #aab8ff;
  border-radius: 10px;
}
#mood-enter-card div {
  margin: auto;
}
#mood-image {
  display: block;
  margin: auto;
  width: 50%;
}
.triangle-right {
  position: relative;
  padding: 15px;
  color: #496ecb;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 25%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.triangle-right p {
  margin: auto;
}
.triangle-right:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}

#pet-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#pet-section > * {
  margin-top: 20vh;
}
#pet-speaking {
  width: 70%;
}
.image-choices {
  width: clamp(25%, 100%, 100%);
  display: inline-block;
}
.test-button {
  width: 10%;
  height: 10vw;
  border: none;
  background: #ab9ce8;
}
#tutorial-list {
  all: unset;
  width: 75%;
  text-align: justify;
  line-height: unset;
  padding-left: 0;
}
#tutorial-list li {
  display: block;
  list-style-type: disc;
  width: 100%;
  height: auto;
  padding-left: 0;
}

@media (min-width: 1200px) {
  #sign-in-image {
    width: 33%;
  }
  .core-section {
    margin-top: 10%;
  }
  #mood-image {
    width: 25%;
  }
  .image-choices {
    width: 25%;
  }
  #pet-section > * {
    margin-top: 0vh;
  }
}
@media (max-width: 800px) {
  .mood-button-element {
    transform: scale(0.7);
  }
  .triangle-right {
    width: 90%;
  }
  .triangle-right p {
    margin: auto;
  }
  #mood-image {
    width: 100%;
  }
}

.app {
  background: linear-gradient(110.63deg, #7ba0fd 14.7%, #bc8bfd 82.18%);
}
